link {
    display: none;
}
img {
    width: 100%;
    height: auto;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: peachpuff;
    width: 100%;
    text-align: center;
}
header {
    width: 100vh;
}
header ul {
    align-items: center;
}
.logo {
    width: 100vw;
    padding: 1%;
}
nav {
    display: inline-block;
    width: 10vw;
    height: 25px;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
    list-style: none;
    display: inline;
}
li {
    display: inline-block;
    border-right: 1px solid black;
    padding: 5px;
}
li:last-child {
    border-right: none;
}
.heroImg {
    height: 600px;
    padding: 25px;
    align-items: center;
}
.heroImg img[src="images/Me.png"] {
    width: 300px;
    height: 400px;
    float: right;
}
.navigation img[src="images/logo.png"] {
    width: 800px;
    height: 100px;
}
.content {
    width: 500px;
    margin: 0 auto;
    align-items: center;
}
footer {
    background-color: peachpuff;
    width: 100%;
    padding: 25px;
    text-align: center;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}
body {
    background-color: peachpuff;
}
button {
    background-color: #9DF6DC;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: white;
    border: 1px solid #9DF6DC;
}